@model Tshirt.Context.tableCommande

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tableCommande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.etat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.etat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tableClient.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tableClient.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tableTshirt.taille)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tableTshirt.taille)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdCmd }) |
    @Html.ActionLink("Back to List", "Index")
</p>
